<!DOCTYPE html>
<html lang="en">
  <!-- the use partials -->
  <%- include('./partials/head.ejs')  %>
<body>
    <header>
        <!-- ejs code example below -->

        <!-- we will use partial imported from a diffirent file -->
        <%- include('./partials/nav.ejs')  %>
    </header>
    <div class="blog content">
      <h2>All Blogs</h2>
      <% if(blogs.length > 0) { %>
        <% blogs.forEach(blog => { %>
            <h3 class="title"><%= blog.title %></h3>
            <p class="snippet"><%= blog.snippet %></p>
            <% }) %>
        <% }else{%>
            <p>Ooops! no blogs to display</p>

            <% } %>
    </div>
    <%- include("./partials/footer.ejs")  %>
</body>
</html>

<!-- To inject data into the file we will use the ejs tags -->
<!-- example -->
<!-- <% %> -->